<div class="container" style="margin-top:1.5rem;">
  <div class="row">
    <h4>新規ユーザー登録</h4>
    <div>
      <% @user.errors.full_messages.each do |message| %>
        <div>
          <%= message %>
        </div>
      <% end %>

      <%= form_for @user, :url => {:action => 'create'} do |f| %>
        <p>ユーザー名</p>
        <%= f.text_field :name %>
        <%= f.file_field :image %>
        <p>自己紹介</p>
        <%= f.text_field :content %>

        <p>メールアドレス</p>
        <%= f.text_field :email %>

        <p>パスワード</p>
        <%= f.password_field :password %>
        <input type="submit" value="新規登録">
      <% end %>
    </div>
  </div>
</div>