<!-- profile -->
<div class="content">
  <div class="profile">
    <div class="profile__image">
      <%= image_tag @user.image.to_s, :alt => "profile" %>
    </div>

    <div class="profile__user__settings">
      <h1 class="profile__user__name"><%= @user.name %></h1>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit", :class => "btn red profile__edit__btn") %>
      <% end %>
    </div>

    <div class="profile__stats">
      <ul>
        <li>
          <span class="profile__stat__count">
            <%= @user.posts.count %>
          </span> posts
        </li>
      </ul>
    </div>

    <div class="profile__bio">
      <p><%= @user.content %></p>
    </div>
  </div>
</div>

<!-- posts -->
<div class="content">
  <div class="gallery">
    <% @user.posts.each do |post| %>
      <%= link_to posts_path(post.id), { :class => "gallery__item" } do %>
        <%= image_tag post.image.to_s, :class => "gallery__image", :alt => "image" %>
        <div class="gallery__item__info">
          <ul>
            <li class="gallery__item__likes">
              <span class="visually-hidden">Likes:</span>
              <i class="fas fa-heart" aria-hidden="true"></i> <%= @likes_count %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>