<!DOCTYPE html>
<html>
  <head>
    <title>HerokuTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  </head>

  <body>
    <nav class="nav-extended">
      <div class="nav-wrapper" style="background:#294C7A;">
        <a href="#" class="brand-logo white-text left" >Histgram</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down white-text">
          <!-- <li><a href="#"><i class="material-icons left">search</i></a></li> -->
          <li><a href="#"><i class="material-icons left">account_circle</i></a></li>
          <li>
            <a href="#"><i class="material-icons left">info</i></a>
          </li>
        </ul>
        <a href="#" data-target="slide-out" class="">
          <i class="material-icons right" style="margin-right:28px;">search</i>
        <a>
        <a href="#" data-target="slide-out" class="sidenav-trigger white-text">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>

    <!-- sidenav -->
    <ul id="slide-out" class="sidenav">
      <li><a href="#"><i class="material-icons left">account_circle</i>マイページ</a></li>
      <li><a href="#"><i class="material-icons left">info_outline</i>ヘルプ</a></li>
    </ul>

    <%= yield %>

    <!-- [TODO]for new post -->
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">add</i>
      </a>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
      });
    </script>

    <!-- FIXME -->
    <style>
    .brand-logo {
      font-family: 'Abril Fatface', cursive;
      letter-spacing: 1.6px;
      margin-left: 20px;
    }
    </style>
  </body>

</html>
