<!DOCTYPE html>
<html>
  <head>
    <title>Histgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper" style="background:#294C7A;">
        <%= link_to "Histgram", "/", {:class => "brand-logo white-text"} %>
        <ul id="nav-mobile" class="right hide-on-med-and-down white-text">
          <!-- <li><a href="#"><i class="material-icons left">search</i></a></li> -->
          <li><a href="#"><i class="material-icons left">account_circle</i></a></li>
          <li>
            <a href="#"><i class="material-icons left">info</i></a>
          </li>
        </ul>
        <a href="#" data-target="slide-out" class="">
          <i class="material-icons right" style="margin-right:28px;">search</i>
        <a>
        <a href="!#" data-target="slide-out" class="sidenav-trigger white-text">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>

    <!-- sidenav -->
    <ul id="slide-out" class="sidenav">
      <li><a href="#"><i class="material-icons left">account_circle</i>マイページ</a></li>
      <li><a href="#"><i class="material-icons left">info</i>ヘルプ</a></li>
    </ul>

    <%= yield %>

    <div class="fixed-action-btn">
      <%= link_to posts_new_path, class: "btn-floating btn-large red" do %>
        <i class="large material-icons">add</i>
      <% end %>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
      });
    </script>

    <!-- FIXME: responsive -->
    <style>
    .brand-logo {
      font-family: 'Abril Fatface', cursive;
      letter-spacing: 1.6px;
    }
    @media only screen and (min-width: 993px) {
      .brand-logo {
        margin-left: 20px;
      }
    }
    </style>
  </body>

</html>
