<!DOCTYPE html>
<html>
  <head>
    <title>Histgram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  </head>

  <body>
    <!-- header -->
    <nav>
      <div class="nav-wrapper" style="background:#294C7A;">
        <%= link_to "Histgram", "/", {:class => "brand-logo white-text"} %>
        <ul id="nav-mobile" class="right hide-on-med-and-down white-text">
          <!-- <li><a href="#"><i class="material-icons left">search</i></a></li> -->
          <li>
            <a href="#"><i class="material-icons left">info</i></a>
          </li>
        </ul>
        <a href="#" data-target="slide-out" class="">
          <i class="material-icons right" style="margin-right:28px;">account_circle</i>
        <a>
        <a href="#" data-target="slide-out" class="sidenav-trigger white-text">
          <i class="material-icons">menu</i>
        </a>
      </div>
    </nav>

    <% if flash[:notice] %>
      <div class="container" style="position:absolute;">
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card green lighten-5">
              <div class="card-content green-text" style="font-size:1.2rem;">
                <%= flash[:notice] %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <!-- sidenav -->
    <ul id="slide-out" class="sidenav">
      <li>
        <div class="user-view">
          <div class="background">
            <%= image_tag "about.jpg", :width => "300", :height => "160" %>
          </div>
          <p>Histgram</p>
          <p>Life is beautiful.</p>
        </div>
      </li>

      <li>
        <%= link_to root_path do %>
          <i class="material-icons left">home</i>ホーム
        <% end %>
      </li>

      <!-- ログイン可否 -->
      <% if @current_user %>
        <li><a href="#"><i class="material-icons left">account_circle</i><%= @current_user.name %></a></li>
        <li>
          <%= link_to logout_path, :method => :post do %>
            <i class="material-icons left">exit_to_app</i>ログアウト
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to signup_path do %>
            <i class="material-icons left">person_add</i>新規登録
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
            <i class="material-icons left">get_app</i>ログイン
          <% end %>
        </li>
      <% end %>
      <li>
        <%= link_to about_path do %>
          <i class="material-icons left">info</i>このサイトについて
        <% end %>
      </li>
    </ul>

    <%= yield %>

    <div class="fixed-action-btn">
      <%= link_to posts_new_path, class: "btn-floating btn-large red" do %>
        <i class="large material-icons">add</i>
      <% end %>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
      });
    </script>

    <!-- FIXME: responsive -->
    <style>
    nav .brand-logo {
      font-family: 'Abril Fatface', cursive;
      letter-spacing: 1.6px;
      font-size: 2.5rem;
    }
    @media only screen and (min-width: 993px) {
      .brand-logo {
        margin-left: 20px;
      }
    }
    .user-view p {
      font-size: 2rem;
      font-weight: bold;
      color: azure;
    }
    </style>
  </body>

</html>
